/* global styles */
body {
  background-color: #485f7a;
}

footer {
  background-color: #81aad9;
  border-radius: 20px;
  border: 2px rgba(0, 0, 0, 0.2) solid;
}
/* end of global styles */

/* id styles */

/* end of id styles */

/* class styles */
.card {
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 10px;
}
.cc-wrapper {
  width: 95%;
}

/* add border, make background color */
.navbar {
  background-color: #81aad9;
  border-radius: 20px;
  border: 2px rgba(0, 0, 0, 0.2) solid;
}
.navbar ul {
  background-color: #81aad9;
}

.dropdown-menu a:hover {
  background-color: #598eca;
  border-radius: 10px;
}

.navbar li {
  font: bolder;
}

/* displaying carousel caption in correct location at top right */
.carousel-caption {
  right: 5%;
  font-size: 1.5rem;
  font-weight: bolder;
  top: 1%;
  left: 35%;
  border-radius: 100px;
  padding: 20px;
}

/* carousel caption p tag has slightly dark background with white font and round edges*/
.carousel-caption p {
  background-color: rgb(0, 0, 0, 50%);
  color: white;
  border-radius: 25px;
}

/* add nav-items border */
.nav-item:hover {
  background-color: #598eca;
  border-radius: 10px;
}

/* displaying carousel caption in correct location at top right */
.carousel img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* make image container rounded edges */
.carousel-inner {
  border-radius: 20px;
}

.card img {
  width: 100%;
  height: 150px;

  border-radius: 26px;
}

.card {
  background-color: #81aad9;
  color: black;
  border-radius: 20px;
  border: 2px rgba(0, 0, 0, 0.2) solid;
}

.card a {
  text-decoration: none;
}
